.formulario .formulario-cont{
    width: 100%;

}
.formulario .formulario-cont .formula-contact{
    display: flex;
    text-align: left;
    background-color: #ffffff;
    padding: 80px 60px;
    border: 1px solid #e0e0e0;
}
.formulario .formulario-cont .formula-contact .formula-colum{
    width: 50%;
}
.formula-colum:first-of-type {
    padding-right: 20px;
}
.formula-colum .formula-title{
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 40px;
   
}
.formula-colum .formula-parrafo{
    max-width: 400px;
}
.formula-colum .formula-tems{
    list-style: none;
    padding: 0;

}
.formula-colum .formula-item{
    display: flex;
    margin: 5px 0;
  

}
.item{
    text-decoration: none;
    display: flex;
    color: black;
}
/* .item:hover{
color: rgb(215, 189, 148);

} */
.ic{ 
    align-items: center;
    padding: 5px 10px;
    font-size: 2.2rem;
    margin-right: 10px;
    color:rgb(153, 96, 4);
}

.ic:hover{
    background:rgba(193, 164, 116, 0.555);
    border-radius: 50%;
    
}


.contact{
    display: block;
    margin-top: 0em;
}
.contact .input-form{
    display: flex;
}
.contact .form-control{
    margin-bottom: 15px;
    flex-grow: 1;
    position: relative;
    margin-left: 10px;
}
.contact label{
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    margin-top: 5px;
    text-align: initial;
}
.contact input,textarea{
    border-radius: 20px;
    background-color: #79570795;
    border: 1px solid #f6f7fb;
    padding: 10px 15px;
    display: block;
    width: 90%;

}
  

.formula-colum button{
    background-color: rgb(153, 96, 4);
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.formulario .divider {
    height: 7px;
    width: 7rem;
    background-color: rgb(223, 191, 141);
    margin-left: 6%;
    margin-bottom:18px ;
  }

@media(max-width: 580px){
    .formulario{
        width: 52em;
    }
    .formula-contact{
        flex-direction: column;
    }
    .formula-colum{
        padding-left: 12em;
    }
    .formula-title{
        margin: 0;
    }
    .contact{
        width: 22em;
    }
   
    }

