@media only screen and (min-width:0px) and (max-width: 768px) {
  .fondo {
    width: 59.5rem;
  }
  .menu {
    width: 59.5rem;
  }
  .menu-item {
    display: flex;
    flex-wrap: wrap;
  }
  .letra {
    margin-left: 5rem;
  }

  .main-fondo {
    height: 116vh;
   
  }
  .informacion{
    width: 37rem;
  }
  .sobre-info {
    margin: 0;
    margin-left: 4rem;
  }
  .sobre-info-img {
    width: 82%;
    height: 15rem;

  }
  .sobre-mi {
   
    width: 59.5rem;
  }

  .porfolio {
    width: 59.5rem;
  }
  .proyect .proyect-cont {
    width: 98%;
  }
  .proyect .proyect-casillas {
    margin: 12px auto;
    padding-left: 12rem;
  }
 
  .conteCarrousel {
    width: 89%;
  }

  .proyect .proyect-indiv {
    width: 31rem;
    margin: 0;
  }
  .cono1 {
    width: 59.5rem;
  }

  .experiencia {
    background-color: var(--color-principal);
    width: 59.5rem;
}
 
.conteCarrousel {
    width: 59.5rem;
   
}
  .conteCarrouselController {
    width: 59.5rem;
  
}
.formacion {
    width: 100%;
 
}
.formacion .formacion-casillas {
  
    padding-left: 19rem;
}
  .formacion .formacion-casillas .formacion-indiv {
    width: 32rem;
  }
  .formulario .formulario-cont .formula-contact .formula-colum {
    padding: 2rem 0rem 2rem 0rem;
   
  }
  .formulario {
    width: 59.5rem;
}
.formulario .formulario-cont .formula-contact {
   
    padding: 79px 29px;

}
  .formulario .formulario-cont {
    width: 100%;
  }
  footer {
    width: 57rem;
  }

  .nave-ul, .nave-li, a {
  
    display: inline-table;
}
}
