@media(min-width: 375px){
    .letra-y,.letra-r {
       
        font-size: 33px;
       
    }
    
    .letra {
       
        margin-top: 1rem;
    }
    .main-fondo .informacion .nombre {
       
        font-size: 2em;
       
    }
    .main-fondo {
       
    width: 47vh;
    height: 55vh;
    padding-left: 2rem;
      
    }
    .fondo {
     
        width:57vh;
    }

    .menu {
        width: 27rem;
      
    }

    .sobre-mi {
    
        /* width: 230vw; */
        display: flex;
 
    }

    .sobre-mi {
          
    display: flex;
    flex-wrap: wrap;
    height: 163vw;
    margin-left: 6px;
    }
    .sobre-info-img {
        width: 76%;
        height: 13rem;
        margin-top: 3rem;
        margin-left: 2rem;
    }
     
    .sobre-info {
        /* color: black; */
        /* grid-column: 6/11; */
        margin: 0;
    }
    .porfolio {
      
        width: 57vh;
    }

    .proyect .proyect-casillas {
       
        width: 47vh;
        display: block;
     
    }

    .proyect .proyect-cont {
        width: 64%;
     
    }
    .cono1 .cono-completo {
       
        width: 24%;
    }
 
    .cono1 {
      
        margin-top: 0vh;
    }
    .cono1 .cono-completo .cono-title {
        
        margin-left: 13rem;
    }
    .cono1 .cono-completo .cono-contenedor .cono-icon {
    
        width: 286px;
        margin-left: 11rem;
      
        
    }

    .conteCarrousel {
        width: 86%;
        
    }
    .contenedor-texto {
        
        font-size: 1.5rem;
    }
    .itemCarrouselArrows {
        
        top: 72px;
        
    }

    .conteCarrouselController {
        width: 105%;
        
    }

    /* .formacion .formacion-cont {
       
        padding-left: 8rem;
    } */

    .formacion .formacion-casillas {
        display: block;
        width: 57%;
    }
    .formacion .formacion-cont {
        width: 67%;
       
    }

    .formulario .formulario-cont .formula-contact .formula-colum {
       
        padding-bottom: 5rem;
    }
    .formulario .formulario-cont .formula-contact {
     
        padding:0;
       
    }
    .contact .input-form {
        display: flex;
        flex-wrap: wrap;
    }

    footer {
        width: 21rem;
    }

    .nave-ul, .nave-li, a {
        
        display: inherit;
    }


   
    }
    @media(min-width: 768px){
        .fondo {
            width: 75.5vh;
        }
        .menu {
            width: 45rem;
        }
        .menu-item{
            display: flex;
            flex-wrap: wrap;
        }
        .letra {
            
            margin-left: 5rem;
        }
        .main-fondo {
         
            padding-left: 12rem;
        }
        .sobre-info {
          
            margin: 0;
            margin-left: 4rem;
        }
        .sobre-info-img {
            width: 78%;
            height: 25rem;
            margin-left: 7rem;
        }
        .sobre-mi {
            
            height: 133vw;
         
        }
        .sobre-info p {
            font-size: 38px;
          
        }
        .porfolio {
            width: 75vh;
        }
        .proyect .proyect-cont {
            width: 98%;
        }
        .proyect .proyect-casillas {
               
    display: inline-block;
    
    margin: 11px auto;
        }
        .cono1 .cono-completo {
            width: 77%;
            margin-top: 3rem;
        }
        .conteCarrousel {
            width: 89%;
        }
       
        .proyect .proyect-indiv {
            width: 31rem;
            margin: 0;
        
        }
        .experiencia {
            background-color: var(--color-principal);
            
        }
        .experiencia .experiencia-casillas {
          
            width: 87%;
        }
        
        .formacion .formacion-casillas .formacion-indiv {
           
            width: 32rem;
        }
        .formulario .formulario-cont .formula-contact .formula-colum {
            padding: 5rem 2rem 2rem 4rem;
        }
        .formulario .formulario-cont {
            width: 100%;
           
        }
        footer {
          
    width: 45.5rem;

        }
        }

