@media screen and (max-width: 768px) {
  .fondo {
    width: 64.9rem;
    height: 36rem;
  }
  .menu {
    width: 64.2em;
  }
  .menu a{    margin: 12px;}
  .letra {
    margin: 14px 48px 3px;
}
  .menu-item {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-fondo {
    height: 94vh;
  }
  .informacion {
    width: 38rem;
    
  }

  .sobre-info-img {
    width: 82%;
    height: 15rem;
  }
  .sobre-mi {
    width: 64.9rem;
  }

  .porfolio {
    width: 64.9rem;
    height: 100%;
  }
  .proyect {
    padding-top: 2rem;
  }
  .formacion .formacion-casillas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
  .proyect .proyect-casillas .proyect-indiv {
    margin-top: 22px;
  }
  .proyect .proyect-cont {
    width: 98%;
  }
 

  .conteCarrousel {
    width: 89%;
  }

  .proyect .proyect-indiv {
    width: 31rem;
    margin: 0;
  }
  .cono1 {
    width: 64.9rem;
    padding-bottom: 69px;
  }

  .experiencia {
    background-color: var(--color-principal);
    width: 64.9rem;
    height: 75rem;
  }

  .conteCarrousel {
    width: 62rem;
  }
  .conteCarrouselController {
    width: 62rem;
  }
  .formacion {
  
    padding-top: 2rem;
  }
 
  .formacion .formacion-casillas .formacion-indiv {
    width: 32rem;
  }
  .formulario .formulario-cont .formula-contact .formula-colum {
    padding: 2rem 0rem 2rem 0rem;
  }
  .formulario {
    width: 62rem;
  }
  .formulario .formulario-cont .formula-contact {
    padding: 79px 29px;
  }
  .formulario .formulario-cont {
    width: 100%;
  }

  .contact .form-control {
    margin-left: 7px;
    margin-right: 1rem;
  }

  footer {
    width: 62.4rem;
  }

  .nave-ul,
  .nave-li {
    display: inline-table;
    margin-left: 1.7rem;
  }
}

 @media screen and (max-width: 1024px) {
  .fondo {
    width: 69.8em;
    height: 53rem;
  }
  .menu {
    width: 70rem;
  }
.menu-lista{
  width: 85%;
}
  .letra {
    margin-left: 2rem;
    padding-top: 1rem;
  }

  .main-fondo {
    height: 69vh;
  }
  .informacion {

    padding-left: 0rem;
    padding-top: 9rem;
  }

  .sobre-info {
    margin: 0px 58px 0px;
  }
  .sobre-info-img {
    width: 88%;
    height: 23rem;
  }
  .sobre-mi {
   
    width: 88.8em;
  }

  .porfolio {
    width: 69.8em;
    height: 100%;
  
  }
  .porfolio .divider {
    margin-left: 42%;
}
  .conteCarrousel {
    width: 89%;
  }

  .proyect .proyect-indiv {
    width: 36rem;
    margin: 0;
  }
  .ptoyect .proyect-cont{
    padding-left: 5%;
  }
  .cono1 {
    width: 69.8em;
  }

  .cono1 .cono-completo .cono-contenedor {
    width: 100%;
  }
  .experiencia {
    background-color: var(--color-principal);
    width: 69.8em;
    height: 100%;
    padding-bottom: 10%;
  }

  .conteCarrousel {
    width: 77rem;
  }
  .conteCarrouselController {
    width: 62rem;
  }
  .proyect .proyect-casillas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
  .formacion .formacion-casillas .formacion-indiv {
    width: 24rem;
    margin-left: 5rem;
  }
  .formacion .formacion-casillas img {
    height: 18rem;
  }
  

  footer {
    width: 66.8em;
  }

  .nave-ul,
  .nave-li,
  a {
    display: inline-table;
    margin-left: 1.7rem;
    margin: 15px;
  }

  .main-fondo .descargar-cv {
    margin-left: 14rem;
  }
}

@media screen and (max-width: 1440px) {
  .fondo {
    width: 90rem;
    height: 39rem
  }
  .menu {
    width: 89rem;
  }

  .letra {
   
    padding-top: 1rem;
  }
  .menu-lista{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .main-fondo {
    height: 72vh;
  }
  .informacion {
    width: 52rem;
    padding-top: 182px;
  }

  .sobre-info {
    margin: 0;
    margin-left: 4rem;
  }
  .sobre-info-img {
    width: 89%;
    height: 23rem;
  }
  .sobre-mi {
    grid-template-columns: repeat(2, 1fr);
  
  }
  .sobre-info p {
    font-size: 24px;
  }

  .porfolio {
    width: 90rem;
    height: 100%;
  }
  .porfolio-cosas {
    padding-top: 2rem;
    width: 86%;
}
.porfolio h2 {
  padding-left: 7%;
}

.proyect .proyect-casillas {
display: flex;
justify-content: center;
padding-bottom: 28px;

}
.proyect .proyect-casillas .proyect-indiv {
  font-weight: 600;
  width: 33%;
  margin: 1rem;
}
.proyect .proyect-indiv{
  padding-left: 23px;
}
.proyect .proyect-cont {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .cono1 {
    width: 90rem;

  }

  .experiencia {
   
    width: 90rem;
    height: 100%;
  }
 
  .conteCarrousel {
    width: 77rem;
  }
  .conteCarrouselController {
    width: 62rem;
  }

  .formacion .formacion-casillas .formacion-indiv {
    width: 20rem;
    margin-left: 5rem;
    height: 20rem;
  }
  .formacion .formacion-casillas {
    padding-top: 2rem;
  }
  .formulario .formulario-cont .formula-contact .formula-colum {
    padding: 2rem 0rem 2rem 0rem;
  }
  .formulario {
    width: 94rem;
  }

  footer {
    width: 87.5rem;
  }
}  
