.sobre-mi{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 525px; 
}
 .sobre-mi h2{
    color:rgb(153, 96, 4) ;
    font-size: 3rem;
}

.sobre-info-img{
    width: 70%;
    height: 21rem;
    grid-column: 2/1;
    margin: 3rem;
    border-radius: 150px 30px;
    
}
.sobre-info{
    color: black;
    grid-column: 2/4;
    margin: 5rem;
}
 .sobre-info p{
    font-size: 20px;
    margin-bottom: 2rem;
}



